@model Actvty
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Activity</title>
     <link rel="stylesheet" href="~/css/AddActivity.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

    <div class="jumbotron">
        <h1>Dojo Activity Center</h1>
        <a href="/Dashboard" class="btn btn-outline-primary">Home</a>
        <a href="/logout" class="btn btn-outline-danger">Log Out</a>
    </div>


<div class="jumbotron">
    <form asp-action="AddActivity" asp-controller="Home" method="POST">
        <h2>Create an Activity</h2>

        <span asp-validation-for="Title"></span>
        <label asp-for="Title"></label>
        <input type="text" asp-for="Title"><br>


        <span asp-validation-for="ActivityDate"></span>
        <label asp-for="ActivityDate"></label>
        <input asp-for="ActivityDate" id="actDate"><br>


        <span asp-validation-for="ActDuration"></span>
        <label asp-for="ActDuration"></label>
        <input type="number" asp-for="ActDuration" placeholder="Enter Duration">
        <select asp-for="ActUnit">
            <option value="Days">Days</option>
            <option value="Hours">Hours</option>
            <option value="Minutes">Minutes</option>
        </select><br>


        <span asp-validation-for="Description"></span>
        <label asp-for="Description"></label>
        <textarea asp-for="Description"></textarea><br>

        <input class="btn btn-outline-success" type="submit" value="Create Activity">

    </form>
</div>
<script>
    let today = new Date().toISOString().substr(0, 16);
    document.querySelector("#actDate").value = today;
</script>
    
</body>
</html>